contextualized-topic-models==1.8.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
gensim==4.0.1
nltk==3.6.2
numpy==1.19.1
pandas==1.3.0
requests==2.25.1
rouge-score==0.0.4
spacy==3.1.0

